:root {
    /*Cores*/
    --cor-primaria:#F3F5FC;
    --cor-secundaria:#0A3871; 
    --cor-terciaria:#D8DFE8;
    /*Fonte*/
    --font:'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    height: 100dvh;
    background-color: var(--cor-primaria);
    max-width: 100%;
}

.decodificador {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1% 10rem 2% 12rem;
}

.decodificador__pergunta {
    padding-right: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90dvh;
}


.logo__container {
    width: 110%;
    height: 10%;
}

.decodificador__pergunta__container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.texto__pergunta__container {
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 680px;
    height: 100%;
    outline: none;
    font-size: 32px;
}

.texto__pergunta__container::placeholder {
    color: var(--cor-secundaria);
}

.decodificador__buttons {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.observacao {
    display: flex;
    gap: 10px;
}

.texto__observacao {
    font-size: 12px;
    padding: 1px;
}

.decodificador__buttons__area {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.button__criptografar {

    background-color: var(--cor-secundaria);
    color: white;
    width: 328px;
    height: 67px;
    border: 1px;
    text-align: center;
    border-radius: 24px;
    font-size: 24px;
}

.button__descriptografar {
    background-color: var(--cor-terciaria);
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    width: 328px;
    height: 67px;
    text-align: center;
    border-radius: 24px;
    font-size: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    word-wrap: break-word;
    border-radius: 32px;
    width: 400px;
    height: 96dvh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#resultado {
    text-align: left;
    font-size: 24px;
    font-family: var(--font);
    color: #495057;
    padding: 0% 5%;
}

.card__area__resposta {
    margin-top: 10%;
    overflow-y: auto;
}


.area__aviso {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#imagemTemporaria {
    display: inline-block;
    padding-top: 25%;
    padding-left: 30px;
}


strong {
    font-size: 24px;
}


.card__area__button {
    padding: 6% 10px;
    align-self: center;

}

.button__copiar {
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    width: 336px;
    height: 67px;
    text-align: center;
    border-radius: 24px;
    font-size: 24px;
    display: none;
}

.rodape {
    color: var(--cor-primaria);
    padding: 24px;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font);
    font-size: 1.0rem;
    font-weight: 400;
}

@media (max-width:1400px) {
    .decodificador {
        flex-direction: column;
        gap: 20px;
        overflow-y: auto;
        padding: 20px;
    }

    .logo__container {
        width: 90%;
        height: 15%;
    }

    .decodificador__pergunta {
        padding: 0%;
        height: 70dvh;
    }

    #imagemTemporaria{
        display: none;
    }

    .area__aviso {
        gap: 10px;
    }

    br {
        display: none;
    }

    .card {
        width: 688px;
        height: 5%;
    }

    .rodape {
        padding: 20px;
    }
}

@media (max-width: 600px) {


    body {
        height: 100%;
    }

    .decodificador__pergunta {
        padding: 0%;
        width: 327px;
    }

    .texto__pergunta__container {
        width: 343px;
    }

    .decodificador__buttons__area {
        flex-direction: column;
    }

    .card {
        width: 327px;
    }

    .button__copiar {
        width: 278px;
    }

    .rodape {
        font-size: 10px;
        padding: 10px;
    }
}
