* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    background-color: #F3F5FC;
    padding: 40px;
    max-width: 100%;
}

.area__principal {
    align-items: center;
    display: flex;

}

.card {
    position: relative;
    right: 15%;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
    width: 520px;
    height: 95dvh;

}

.card__area__resposta {
    margin-bottom: auto;
    margin-top: auto;
    align-self: center;
}

.card__area__copiar {
    padding: 23px;

}

/*texto*/

.area__digitacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90dvh;
    width: 100%;
}

.area__digitacao__container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.logo__container {
    width: 80%;
}

.texto__pergunta {
    background-color: #F3F5FC;
    border: 1px solid #F3F5FC;
    color: #0A3871;
    width: 680px;
    height: 100%;
    outline: none;
    font-size: 32px;
}

.texto__pergunta::placeholder {
    color: #0A3871;
}

.obsevacao {
    font-size: 12px;
}

.area__resposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40;
}

.resposta {
    display: flex;
    flex-direction: column;
}

/*butoes*/
.area__digitacao__baixa {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.observacao {
    padding: 23px;
}

.butoes__digitacao {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-left: 23px;
}

.criptografar {

    background-color: #0A3871;
    color: white;
    width: 328px;
    height: 67px;
    border: 1px;
    text-align: center;
    border-radius: 24px;
    font-size: 24px;
    padding: 24px;
}

.descriptografar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    width: 328px;
    height: 67px;
    text-align: center;
    border-radius: 24px;
    font-size: 24px;
    padding: 24px;
}

.copiar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    width: 336px;
    height: 67px;
    text-align: center;
    border-radius: 24px;
    font-size: 24px;
    padding: 24px;
}

/*imagens*/

#logo {
    margin-left: 70px;
}

#imagemTemporaria {}